<ng-container class="exam-container">
  <div class="container mt-4">
    <h2 class="mb-4">Exam for {{ subject }}</h2>
    <form (ngSubmit)="submitExam()">

      <!-- Predefined Exam Type -->
      <app-predefined-exam
        *ngIf="examType === 'predefined'"
        [questions]="exam.questions">
      </app-predefined-exam>

      <!-- Multiple Choice Exam Type -->
      <app-multiple-choice-exam
        *ngIf="examType === 'multiple-choice'"
        [questions]="exam.questions">
      </app-multiple-choice-exam>

      <!-- True - False Exam Type -->
      <app-true-false-exam
        *ngIf="examType === 'true-false'"
        [questions]="exam.questions">
      </app-true-false-exam>

      <button
        type="submit"
        class="btn btn-primary mx-2"
        (click)="goBack()">
        Go Back
      </button>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="loading">
        Submit Exam
      </button>

    </form>
  </div>
</ng-container>
