<ng-container class="home-container">
  <div class="container">
    <div class="row min-vh-100 align-items-center justify-content-center">
      <div class="col-md-6 text-center">
        <div class="card shadow">
          <div class="card-body p-5">
            <h2 class="mb-4">Select a Subject:</h2>
            <div class="mb-4">
              <app-custom-dropdown
                [options]="subjects"
                [placeholder]="'Choose a subject...'"
                [selected]="selectedSubject"
                (selectionChange)="selectedSubject = $event">
              </app-custom-dropdown>

              <h2 class="mb-4">Select Exam Type:</h2>
              <app-custom-dropdown
                [options]="examTypes"
                [placeholder]="'Choose an exam type...'"
                [selected]="selectedExamType"
                (selectionChange)="selectedExamType = $event">
              </app-custom-dropdown>
            </div>
            <button
              type="button"
              class="btn btn-primary btn-lg"
              [disabled]="!selectedSubject || !selectedExamType"
              (click)="startExam()">
              Start Exam
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
